@font-face {
    font-family: "Hydrophilia Iced";
    src: url("/fonts/Hydrophilia Iced.ttf") format("truetype");
}

html,
body {
    margin: 0;
    font-family: Hydrophilia Iced, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.fullSlot {
    z-index: 100;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2rem;
    align-items: center;
}

.casinoName {
    font-family: Hydrophilia Iced, sans-serif !important;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    color: black;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 2rem 0;
}

.price {
    font-family: Hydrophilia Iced, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: rgb(10, 22, 39);
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    text-align: center;
    border: solid 2px #ffd900;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 5px;
}

.priceInd {
    font-family: Hydrophilia Iced, sans-serif !important;
    margin: 0;
    animation: premio .5s forwards linear;
}

.renewButton {
    margin: 20px 0 0 0;
    padding: 20px;
    line-height: 0;
}

@keyframes premio {
    0% {
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.slot {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.slotFoot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.betInput {
    font-family: Hydrophilia Iced, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-size: 20px;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    margin: 20px;
    width: 100%;
    margin: 0 5px 0 0;
    flex: 1 1 auto;
    text-align: center;
}

.spinButton {
    cursor: pointer;
    font-family: Hydrophilia Iced, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 0 5px;
    flex: 1 1 auto;
    width: 100%;
}

.buyMoreButton {
    cursor: pointer;
    font-family: Hydrophilia Iced, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1em;
    width: calc(100%);
}

.row {
    flex: 1 0 auto;
    margin: 0 5px 0 5px;
    overflow: hidden;
    border: solid 2px #ffd9009c;
    background: linear-gradient(0deg, rgb(204, 203, 203) 0%, rgb(255, 255, 255)20%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 80%, rgb(204, 203, 203) 100%);
}

.ringMoving {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 4em;
    animation: goaround 0.2s linear infinite;
}

.ringEnd {
    height: 125px;
    line-height: 125px;
    text-align: center;
    font-size: 4em;
    animation: stop .5s ease-out forwards;
}

@keyframes goaround {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1000px);
    }
}

@keyframes stop {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-90px)
    }

    75% {
        transform: translateY(-80px)
    }

    100% {
        transform: translateY(-85px)
    }
}